/* Colors */

/* #EAAF00 orange */
/* #66BB6A main green */
/* #5CAA45 light green */
/* #607D8B text color  */
/* #3a3e3b */



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --primaryColor: #698f3f;
    --secondaryColor: #fca311;
    --mainDark: #3a3e3b;
    --mainWhite: #fff;
    --mainGrey: #e5e5e5;
    --slantedText: "Grand Hotel", cursive;
    --mainTransition: all 0.3s linear;
    --letterSpacing: 0.5rem;
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #fca311;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--spacing);
    /* text-transform: capitalize; */
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  /*  global classes */
  
  /* section */
  .section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  
  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }

  html {
    scroll-behavior: smooth;
    width: 100%;
  }

  #scrollTop{
    position: fixed;
    bottom: 1.2rem;
    right: 1.5rem;
    z-index: 15;
    border-radius: 10px;
    scroll-behavior: smooth;
    padding:6px 8px ;
    border: 3px solid #234d24;
    font-size: 20px;
    font-weight: bolder;
  }

  @media (max-width: 700px) {
    #scrollTop{
      position: fixed;
      bottom: 0.5rem;
      right: 0.5rem;
      z-index: 15;
      border-radius: 10px;
      scroll-behavior: smooth;
      background: transparent;
      padding:6px 8px ;
      border: none;
      font-size: 30px;
      font-weight: bolder;
    }
  }
  
  /*
  =============== 
  Navbar
  ===============
  */

.navigation .navigation__checkbox {
  display: none;
}

.navigation .navigation__button{ 
  background-color: #fff;
  height: 55px;
  width: 55px;
  position: fixed;
  top: 35px;
  padding: auto;
  right: 35px;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0px 10px 30px #000;
}

.navigation .navigation__button svg{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 25px;
  color: #456147;
}

.navigation .navigation__background{
  height: 50px;
  width: 50px;
  border-radius:50%;
  position: fixed;
  top: 37px;
  right: 40px;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0px;
  transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 3px;
}

.navigation__item{
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  transform: translateX(-200px);
  opacity: 0;
}

.navigation__link:link,
.navigation__link:visited{
  display: inline-block;
  font: 30px;
  font-weight: 300;
  padding:10px 20px ;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .5s;
}

.navigation__link:hover,
.navigation__link:active{
  color: #55c57a;
  background-position: 100%;
  transform: translateX(10px);
}

.navigation__link span{
  margin-right: 15px;
  display: inline-block;
}

.navigation__checkbox:checked ~ .navigation__background{
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav{
  width: 100%;
  opacity: 1;
}

.navigation__checkbox:checked ~ .navigation__nav .navigation__list .navigation__item{
  transform: translateX(0px);
  opacity: 1;
}

@media (max-width:900px) {
  .navigation .navigation__button{ 
    background-color: #fff;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 15px;
    padding: auto;
    right: 15px;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0px 10px 30px #000;
  }

  .navigation__item{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    transform: translateX(-200px);
    opacity: 0;
  }

  .navigation__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 1px;
  }

  .navigation .navigation__button svg{
    margin-top: 12px;
    margin-left: 12px;
    font-size: 25px;
    color: #456147;
  }

  .navigation .navigation__background{
    height: 30px;
    width: 30px;
    border-radius:50%;
    position: fixed;
    top: 20px;
    right: 20px;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

/* ------------------------- */
/* hero */
/* ------------------------- */


  #hero .hero-info{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
  }

  #hero .hero-info h1{
    font-size: 70px;
    text-transform: none;
    color: #fff;
  }

  #hero .hero-info #forTypewriter{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: none;
    color: #467449;
    font-weight: 900;
    letter-spacing: 3px;
  }

  #hero .hero-info div{
    color: #fff;
    margin-left: 2.5px;
  }

  #hero .hero-info .hero-ButtonContainer a{
    padding: 11px 16px;
    margin: 10px;
    margin-left: 30px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 50%;
    font-weight: bolder;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    transition: all 0.4s ease-out;
  }
  #hero .hero-info .hero-ButtonContainer a:hover{
    animation: none;
    border-color: #EAAF00;
    background-color: #EAAF00;
  }

  #hero{
      padding: 0;
      margin: 0;
      width: 100%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.744) ,rgba(0, 0, 0, 0.744)), url(https://xp.io/storage/IOFBO4h.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
  }

  #hero #tsparticles canvas{
    width: 100%;
    opacity: 0.6;
    height: 100vh !important;
    pointer-events: initial; 
  }
 @media (max-width:600px) {
  #hero #tsparticles canvas{
    width: 100%;
    opacity: 0.2;
    height: 100vh !important;
    pointer-events: initial; 
  }

  #hero .hero-info h1{
    font-size: 37px;
    width: 100%;
    text-transform: none;
    color: #fff;
    letter-spacing: 3.5px;
  }

  #hero .hero-info .hero-ButtonContainer a{
    padding: 8px 13px;
    margin: 8px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    font-weight: bolder;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    transition: all 0.4s ease-out;
  }

  #hero .hero-info #forTypewriter{
    font-size: 20px;
    width: 100%;
    text-transform: none;
    margin-bottom: 45px;
  }

  #hero .hero-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
 }

 /* ---------------------- */
 /* skills */
 /* ---------------------- */

  
  .skills{
      display: flex;
      margin-top: 0px;
  }

  .skills .skill-cont{
    width: 33.3%;
    text-align: center;
    background-color: rgba(194, 194, 194, 0.521);
  }

  .skills .skill-cont article{
      width: 60%;
      margin: 0 auto;
    }

  #article h2{
      padding: 30px 0px;
      color: #3a3e3b;
  }

  #article{
      text-align: center;
  }

  #article h4{
      font-size: 25px;
      letter-spacing: 2px;
      padding-bottom: 10px;
      color: #5CAA45;
     
  }

  #article p{
      margin: 30px 0px ;
      color: #3a3e3b;
      padding-bottom: 10px;
      font-size: 14px;
  }

  .skill-cont{
    transition: all 0.5s ease-in;
  }

  .skill-cont:hover{
      background-color: #48753a;
  }

  .skill-cont:hover h4{
    color: #fff;
}

.skill-cont:hover .underline{
    border-top: 3px solid #fff;

}

.skill-cont:hover h2{
    transform: translateY(-4px);
}

.underline{
    border-top: 3px solid #48753a;
    width:25%;
    padding: 0;
    margin: 0 auto;
}

@media (max-width:900px) {
    .skills{
        display: block;
    }

    .skills .skill-cont{
        width: 100%;
        text-align: center;
        /* background-color: rgba(194, 194, 194, 0.521); */
      }

      .skills .skill-cont article{
        width: 70%;
        margin: 0 auto;
        padding-bottom: 20px;
        margin-bottom:2px ;
      }
  
    #article h2{
        padding-top: 20px;
        color: #3a3e3b;
    }
  
    #article{
        text-align: center;
    }
  
    #article h4{
        font-size: 25px;
        letter-spacing: 3px;
        color: #5CAA45;
    }
  
    #article p{
        padding-bottom:10px ;
        color: #3a3e3b;
        margin: 2px;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }  
}
/* ----------------- */
/* jobs */
/* ----------------- */


.jobs-center {
    width: 80vw;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
    flex-wrap: wrap;
  }
  .job-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1.25rem;
    letter-spacing: var(--spacing);
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
    padding: 0.25rem 0;
    line-height: 1;
    outline-color: #5CAA45;
  }
  .job-btn:hover {
    color: #5CAA45;
    box-shadow: 0 2px var(--clr-primary-5);
  }
  .active-btn {
    color: #5CAA45;
    box-shadow: 0 2px #5CAA45;
  }
  
  .job-info h3 {
    margin-bottom: 20px;
    font-weight: 400;
  }
  .job-info h4 {
    text-transform: uppercase;
    color: #426937;
    background: #66bb6a4f;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: var(--radius);
  }
  .job-date {
    letter-spacing: var(--spacing);
    font-weight: bold;
  }
  .job-desc {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: center;
    margin-bottom: 1.25rem;
  }
  .job-desc p {
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-bottom: 0;
    color: var(--clr-grey-3);
  }
  .job-icon {
    color: #5CAA45;
  }
  @media screen and (min-width: 992px) {
    .jobs-center {
      width: 90vw;
      display: grid;
      grid-template-columns: 200px 1fr;
      column-gap: 4rem;
    }
    .btn-container {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
    }
    .job-btn {
      margin-bottom: 0.5rem;
      height: 40px;
    }
    .active-btn {
      box-shadow: -2px 0 #EAAF00;
    }
    .job-btn:hover {
      box-shadow: -2px 0 #EAAF00;
    }
  }
  .btn {
    text-transform: uppercase;
    background: #426838;
    color: #98d69b;
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    display: block;
    width: 12rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .btn:hover {
    color: #426838;
    background: #98d69b;
  }

  @media (max-width: 600px) {
    .btn-container {
      width: 80%;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
    }
    .job-btn {
      margin-bottom: 0.5rem;
      height: 40px;
    }
    .job-desc p {
      letter-spacing: 1px;
      word-spacing: 4px;
    }
    .job-btn:last-child{
      margin-bottom: 40px;
    }
  }
/* ------------------ */
  /* about */
/* ------------------ */

#main{
  padding: 30px 100px;
  background-color: #fff;
}

.about-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img{
  border-radius: 30px;
  width: 50%;
  padding: 50px;
  padding-bottom:00px ;
  padding-top:0px ;
  margin: 0;
}

.about-text{
  padding:40px;
  width: 50%;
}

.about-text p{
  font-size: 13px;
  margin-top: 20px;
  padding-right: 100px;
}

.about-text div h3{
  font-size: 40px;
  margin-bottom: 30px;
  color: #426838;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  letter-spacing: 5px;
}

.about-text div h2{
  font-size: 30px;
  margin-bottom: 10px;
  color: #000;
  letter-spacing: 4px;
  word-spacing: 7px;
}

.about-text a{
  text-decoration: none;
  padding: 0.3rem 0.7rem;
  background: #426838;
  outline: 0.2rem solid #426937;
  color: #283d23;
    font-weight: bold;
    outline-offset: 4px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.4s linear;
}

.about-text a:hover{
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  background: #89c479;
  outline: 0.2rem solid #89c479;
  color: #4c7443;
  font-weight: bold;
  outline-offset: 4px;
  margin-top: 20px;
  display: inline-block;
  
}

.about-img img{
margin: 0 auto;
border-radius: 30px;
width: 100%;
margin: -3px;
}

@media (max-width:1050px) {
  #main{
     padding: 30px !important;
  }

  .about-section{
    display: block;
    justify-content: center;
    align-items: center;
  }

  .about-img{
    border-radius: 30px;
      width: 100%;
      padding: 0px;
      margin: 0;
    }

    .about-img img{
    margin: -3px;

    }

    .about-text{
      padding: 20px;
      width: 100%;
      text-align: center;
    }

    .about-text p{
      padding-right: 0px;
      width: 100%;
    }
}

/* ------------- */
/* copyright */
/* ------------- */

.copyright-section {
  padding: 0px 0px 40px 0px;
}

.copyright-section div {
  text-align: center;
  padding-top: 70px;
}

.copyright-section div a{
  color: #fff;
  font-size: 25px;
  padding-left: 20px;
}

.copyright-section p {
  text-align: center;
  padding-top: 20px;
  letter-spacing: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 25px;
}

.copyright-section p span {
  color: #48753a;
  font-weight: bold;
}

.copyright-section p .heart{
  color: darkred;
  font-size: 20px;
}

.heart-para{
  margin: 0;
  padding: 0 !important;
}

@media (max-width:700px) {
  .copyright-section p{
    letter-spacing: 3px;
  }
}

/* ------------------ */
  /* featured-products */
/* ------------------ */

.featured-products{
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.featured-products .product-text{
width: 30%;
}

.product{
  width: 20%;
  margin-left: 50px;
}

#feacture{
  padding: 100px 200px 100px 200px;
}

.product-text h3{
  font-size: 40px;
  margin-bottom: 20px;
  color: #48753a;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  letter-spacing: 5px;
}

.product-text p{
color: #fff;
font-size: 15px;
font-weight: lighter;
letter-spacing: 2px;
word-spacing: 7px;
}


.product-text a{
  text-decoration: none;
  padding: 0.4rem 1rem;
  background: #48753a;
  outline: 0.2rem solid #48753a;
  color: #283d23;
    font-weight: bold;
    outline-offset: 4px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.4s linear;
}

.product-text a:hover{
  text-decoration: none;
  padding: 0.4rem 1rem;
  background: #89c479;
  outline: 0.2rem solid #89c479;
  color: #fff;
  font-weight: bold;
  outline-offset: 4px;
  margin-top: 20px;
  display: inline-block;
  
}

.product .productImage{
  width: 250px;
  height: 200px;
  border-radius:10px ;
}

.product .productImage:hover{
  opacity: 0.5;
}

.product h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.product h4{
 
  margin-top: 10px;
}

.product span{
  margin-right: 5px;
  color: #698f3f;
  font-size: 22px;
}

@media (max-width: 900px) {
  .featured-products{
    display: block;
    margin: 0 auto;
  }

  #feacture{
    padding: 10px;
  }

  .product .productImage{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    border-radius:10px ;
    display: block;
    object-fit: cover;
  }

  .product{
    text-align: center;
    width:100%;
    margin-bottom: 40px;
    margin-left: 0px;
    padding: 0px 10px 0px 10px;
  }

  .product-text p{
    color: #fff;
    padding: 10px 20px 0px 20px;
    }

  .featured-products .product-text{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
    }

    .product h3 {
      font-size: 35px;
      letter-spacing: 5px;
    }
}

/* ----------------- */
/* mailus */
/* ----------------- */

.mailUs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.mailUs div{
  width: 50%;
  padding-left: 40px;
}

.mailUs form {
  width: 100%;
}

.mailUs h2{
  margin-bottom: 25px;
  font-family: 'Pacifico', cursive;
  color: #48753a;
  font-weight: lighter;
}

.mailUs input{
  width: 70%;
  height: 35px;
  border: none;
  border-bottom:2px solid #48753a;
  background: transparent;
}

.mailUs input::placeholder{
  letter-spacing: 3px;
  padding-left: 10px;
  color: #4c7443;
}

.mailUs form button{
  height: 36px;
  width: 100px;
  background: transparent;
  border: none;
  color: #48753a;
  font-weight: bold;
  letter-spacing: 3px;
  transition: all 0.3s linear;
}

.mailUs form button:hover{
  background-color: #48753a;
  color: #fff;
}

.mailUs div a{
  text-decoration: none;
  padding: 0.4rem 1rem;
  background: #48753a;
  outline: 0.2rem solid #48753a;
  color: #283d23;
  font-weight: bold;
  outline-offset: 4px;
  margin-top: 20px;
  display: inline-block;
  transition: all 0.4s linear;
}

.mailUs div a:hover{
  text-decoration: none;
  padding: 0.4rem 1rem;
  background: #89c479;
  outline: 0.2rem solid #89c479;
  color: #fff;
  font-weight: bold;
  outline-offset: 4px;
  margin-top: 20px;
  display: inline-block;
}
.mailUs div p{
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 14px;
  display: flex;
  color: #000;
  justify-content: start;
  align-items: center;

}

.mailUs div p span{
  font-size: 30px;
  color:#000;
  font-weight: bolder;
}

@media (max-width: 900px) {
  
.mailUs input{
  width: 90%;
  height: 35px;
  border: none;
  border-bottom:2px solid #48753a;
  background: transparent;
}
.mailUs form button{
  margin-top: 20px;
}
  .mailUs {
    text-align: center;
    display: block;
    padding: 10px;
  }
  .mailUs form {
    display: block;
    width: 100%;
    margin: 60px 0px 40px 0px;
    padding: 10px;
  }

  .mailUs div{
    width: 100%;
    padding-left: 0px;

  }

  .mailUs h2{
    font-size: 40px;
    margin: 25px 0 25px 0px;
  }

  .mailUs div p{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
    letter-spacing: 1px !important;
  }
}

/* ---------------- */
/* contact  */
/* ---------------- */

.contact-section{

height: 75vh;
display: flex;
justify-content: center;
align-items: center;
}

.contact-section article{
  margin-left: 200px;
  width: 50%;
}

.contact-info {
margin-bottom: 40px;
  align-items: center;
}

.contact-info {
  text-align: start;
}

.contact-info h2{
  font-family: 'Pacifico', cursive;
  letter-spacing: 12px;
  margin-bottom: 20px;
  color: #698f3f;
  font-size: 30px;
}

.contact-info p{
  font-size: 16px;
  text-align: start;
  text-transform: none;
  letter-spacing: 3px;
  color: #000;
  line-height: 30px;
  width: 480px;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact-info h2 span{
  margin-right: 20px;
}

.form-section form{
  display: inline-block;
  border-radius: 20px;
  margin-right: 70px;
}

.form-section form input{
  width: 35rem;
height: 3rem;
padding-bottom: 25px;
margin: 20px 0px 30px 0px;
background: transparent;
border: none;
outline: none;
border-bottom: 2px solid #698f3f;
}

.form-section form input::placeholder{
  color: #698f3f;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 15px;
}

.form-section form textarea{
  width: 35rem;
  padding-bottom: 25px;
  margin: 20px 0px 30px 0px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #698f3f;
  }

  .form-section form textarea::placeholder{
    color: #698f3f;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 15px;
  }

  .form-section form button{
    padding: 0.4rem 1rem;
    background: #698f3f;
    outline: 0.2rem solid #698f3f;
    color: #283d23;
    outline-offset: 4px;
    font-weight: bold;
    transition: all 0.4s linear;
  }

  .form-section form button:hover{
    background: #73a565;
    outline: 0.2rem solid #73a565;
    color: #fff;
  }
  
  #form-h1{
    padding-top: 40px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    letter-spacing: 14px;
    color: #698f3f;
    font-size: 50px;
  }
  
  #underline{
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 5px solid #426838;
    width: 8vw;
  }

  @media (max-width: 1000px) {
    .contact-section{
      height: 100%;
      display: block;
      }
    
    .contact, .contact-info{
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .contact-section article{
      padding: 0px;
      margin-left: 0px;
      width: 100%;
    }

    .form-section form{
      width: 80vw;
      text-align: center;
      display: inline-block;
      margin: 0;
    }

    .form-section{
      margin-top: 50px;
      text-align: center;
      margin-bottom: 0px;
    }

    #form-h1{
      padding-top: 40px;
      text-align: center;
      font-family: 'Pacifico', cursive;
      letter-spacing: 14px;
      color: #698f3f;
      font-size: 40px;
    }

    .contact-info p{
      text-align: center;
      font-size: 1em;
      margin: 0;

      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 3px;
      line-height: 30px;
      width: 100%;
    }

    .form-section button {
      margin: 0 auto 40px;
    }

    .contact-info h2{
      font-size: 25px;
      margin-top: 70px;
    }

    .form-section form input{
    width: 80vw;
    height: 3rem;
    padding-bottom: 25px;
    margin: 20px 0px 30px 0px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #698f3f;
    }

    .form-section form textarea{
      width: 80vw;
      padding-bottom: 25px;
      margin: 20px 0px 60px 0px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 2px solid #698f3f;
      }
      #underline{
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
        border-bottom: 5px solid #426838;
        width: 20vw !important;
      }  
  }


/* ---------------- */
/* about page */
/* ---------------- */


#forColor{
  background-color: #477534d2;
  overflow-x: hidden;
}

.about-logo{
  padding: 20px 0px;
  padding-bottom: 0px;
  text-align: center;
  background-color: #fff;
}

.about-section .about-header{
  width: 100vw;
  height: 100vh;
  background-color: #fff !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  flex-basis: 80%;
}



.about-section #div{
  flex-basis: 42%;
  height: 87vh;
  background-color: #fff;
  padding: 80px 40px;
  text-align: center;
  padding-top: 80px;
  color: #000;
} 

.about-section #div p:first-of-type{
  margin-top: 30px;
  color: #000;
}

.about-section #div p{
  color: #000;
}


.about-section #div ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.about-section #div div{
  width: 80px;
  margin:0 auto ;
  margin-top: 20px;
  border-bottom: 3px solid black;
}

.about-section #div ul li{
  font-size: 35px;
  margin-right: 13px;
} 

.about-section #div ul li a{
  color: #48753a;
}

.about-section #div h2{
   font-size: 30px;
   letter-spacing: 4px;
   text-transform: none;
   margin-bottom: 20px;
}

.about-section .about-header{
  background-color: #fff;
  width: 100vw;
  height: 87vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  flex-basis: 58%;
}

.about-section .about-header img{
  height: 100%;
  width: 100%;
  padding: 70px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.about-header .aboutHeader-body{
  color: #000;
  width: 35%;
  margin-left: 50%;
  padding: 20px;
  padding-top: 40px;
}

.about-header .aboutHeader-body p{
  text-align: start !important;
  color: #000;
}

.about-skills{
  width: 70%;
  margin: 0px auto;
  display:grid ;
  grid-template-columns: repeat(1, 1fr);
  padding: 50px;
  padding-top: 40px;
  color: #fff;
}

.about-skills .about-lang{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.about-skills #skills{
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 10px;
  font-family: 'Mate SC', serif;
  color: #000;
  margin-bottom: 20px;
}

.about-skills .underLine, .about-footer .underLine1{
  border-bottom: 4px solid #000;
  border-radius: 10px;
  width: 10%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.about-skills .about-lang li{
  font-size: 17px;
  margin: 0px 10px;
  padding: 5px 15px;
}

.about-skills .about-lang li:hover{
   transform: scale(1.04);
   font-weight: bold;
  border-left: 2px solid #000;
}

.about-footer{
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  padding: 50px ;
}

.about-footer h3{
  font-family: 'Mate SC', serif;
  font-size: 40px;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.about-footer .underlone{
  border-bottom: 4px solid black;
  margin:0 auto ;
  width: 10%;
}

.about-footer .aboutImage-cont img{
  text-align: center;
  margin-top: 40px;
  background-color: #fff !important;
  opacity: 0.4;
  filter: grayscale(100%);
  padding: 20px;
  width: 350px;
}

.about-footer .aboutImage-cont img:hover{
  filter: grayscale(0%);
  filter: contrast(1);
  opacity: 1;
}

.about-footer .aboutImage-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-skills .about-lang li span{
  margin-right: 10px;
  margin-top: 2px;
}

@media (max-width:1300px) {
  .about-footer .underlone{
    border-bottom: 4px solid black;
    margin:0 auto ;
    width: 30%;
  }

  .about-footer h3{
    font-family: 'Mate SC', serif;
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 0px;
  }

.about-section .about-header img{
  height: 100%;
  padding:20px;
  padding-right: 6px;
}
  .about-footer{
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    padding: 50px ;
  }
  .about-skills .about-lang{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin-top: 0px;
  }
  .about-skills{
    width: 100%;
  }
  .about-skills .about-lang li{
    font-size: 20px;
    margin: 5px 0px;
    padding: 5px 15px;
    width: 300px;
    letter-spacing: 3px;
    text-align: center;
  }
  .about-skills .about-lang li span{
    margin-right: 15px;
    margin-top: 2px;
    font-size: 25px;
  }
  
}

@media (max-width:600px) {
  .about-section{
    overflow-x: hidden;
  }
  .about-section .about-header img{
    height: 100%; 
    width: 96%;
  }
  
  .about-section .about-header{
    margin: 0 auto;
    background-color: #fff;
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    flex-basis: 58%;
    overflow: hidden;
  }
  
  .about-section #div{
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
  }
  .about-footer .aboutImage-cont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left:13px ;
    text-align: center;
  }
  .about-section #div div{
    width: 80px;
    margin:0 auto ;
    margin-top: 40px;
    border-bottom: 3px solid black;
  }
}

/* ---------------- */
/*development-tools*/
/* ---------------- */

.development-tools{
  background-color:#fff ;
  padding: 70px 100px 70px 100px;
  display: inline-block;
  width: 100%;
}

.development-tools #header{
  text-align: center;
  margin-bottom: 70px;
}

.development-tools h3{
  color: #48753a;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 5px;
}

.development-tools h3 span{
  font-size: 25px;
  margin-left: 20px;
}
.tools{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools div{
  width: 33.33%;
}

.tools .vsCode h3{
  color: #0078d7
}

.tools .codePen h3{
  color: #000;
}

.tools a{
  color: #000;
}

.tools .vsCodeExt h3{
  color: grey;
}

.tools h3{
  margin-bottom: 20px;
}

.tools .tools-div{
  margin-left: 50px;
}

@media (max-width: 1100px) {
  .tools{
    display: block;
  }

  .development-tools{
    padding: 70px 50px;
  }

  .tools a{
    font-size: 14px;
    color: #000;
  }

  .tools .tools-div{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 0px;
    margin-left: 0px;
    }

    .development-tools h3 {
      font-size: 30px;
    }  

    .tools .tools-div p{
      padding: 8px;
    }

    .tools div h3{
    margin-top: 80px !important;
    /* font-size: 30px; */
  }

  .tools div{
    text-align: center;
    width: 90%;
  }
}

/* ---------------------- */
/* card */
/* ---------------------- */

.project-section{
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 10px;
}

.project-section .categories{
  text-align: center;
  margin: 40px 0px;
}

.project-section .categories button{
  border: none;
  border-bottom: 3px solid #529756;
  background: transparent;
  margin: 5px 15px;
  margin-bottom: 0px;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.3s linear;
  
}

.project-section .categories button.active{
  text-transform: uppercase;
  background-color:#529756 ;
  color: #fff;
  transform: scale(1.2);
}

.project-section .categories button:hover{
  background-color:#529756 ;
  color: #fff;
}

.color{
  background-color: #c8d1db;
}

.project-section .project{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-section .project img{
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 230px;
}

.project-section .project article:hover{
  transform: translateY(-10px);
  box-shadow: 10px 10px 20px rgb(53, 53, 53);

}

.project-section .project article{
  margin: 10px 10px;
  background-color:#fff ;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(124, 124, 124);
  transition: all 0.3s linear;
}

.project-section .project article .card-body{
  padding: 20px;
  text-align: center;
}

.project-section .project article .card-body h3{
  font-size: 20px;
  letter-spacing: 2px;
  color: #000;
  font-weight: 500;
}

.project-section .project article .card-body ul{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.project-section .project article .card-body ul li{
  background-color: #f6f6f6;
  margin-left: 10px;  
  font-weight: bold;
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 10px;
  color: #4e6275;
}

.project-section .project article .card-body p{
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.project-section .project article .card-body ul li span{
  margin-left: 10px;
  font-size: 12px;
  padding: 0;
}

.project-section .project article .card-body ul li:first-of-type{
  margin: 0;
}

.project-section .project article .card-footer{
  height: 50px;
  background-color: #66bb6a38;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.project-section .project article .card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 15px ;
  color: #365230;
}

.project-section .project article .card-footer .git{
font-size: 20px;
}

.project-section .project article .card-footer a{
  font-size: 13px;
  color: #365230;
  font-weight: bold;
  letter-spacing: 2px;
}

.icon-middle{
  overflow: visible;
  color: #000;
  z-index: 5;
  width: 70px;
  position: sticky;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -30px;
  border-radius: 50%;
  border: 7px solid #fff;
  background-color: #caffcc;
  font-size: 30px;
  transition: all 0.3s linear;
}

.icon-middle:hover{
  background-color: #609b64;
  color: #caffcc;
}

.icon-middle:hover a{
  color: #ffffff;
}

.icon-middle a{
  color: #467449;
  padding: 0px !important;
}

@media screen and (max-width: 1100px) {
  .project-section .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .project-section .project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

/* ----------------- */
/* Blog */
/* ----------------- */

.blog{
background-color: #f4f4f4;

}

.blog h2{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  padding-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 6px;
  color: #48753a;
}

#underline{
  width: 5%;
}

.blog h2 span{
  margin-left: 20px;
  padding-top: 15px;
  font-size: 30px;
}

.blog-section{
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin: 0 auto;
}

.blog-card .blogCard-header, .blogCard-body{
  margin: 30px auto;
  width: 80%;
  margin-bottom: 0px;
  padding: 0 auto;
  background-color: #fff !important;
}

.blogCard-body{
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-top: 0px;
  box-shadow: 5px 5px 10px #000;
  padding: 20px ;
  color: #474747;
  transition: all 0.3s linear;
}

.blog-card .blog-back{
  display: none;
}
.blog-card{
  transition: all 0.4s linear;
}

.blog-card:hover{
  transform: scale(1.05)
}

.blog-card:hover .blogCard-header .card-date{
  position: fixed;
  z-index: 2;
}

.blog-card:hover .blogCard-body{
  box-shadow: 5px 10px 20px rgb(48, 48, 48);
}

.blogCard-body #blog-heading{
  font-size: 18px;
  margin-bottom: 5px;
  font-family: Georgia,"Times New Roman",Times,serif;
}

.blogCard-body .card-admin{
  font-size: 12px;
  color: #467449;
  font-weight: bold;
}

.blogCard-body .blogCard-body-para{
  font-size: 14px;
  font-weight: 500;
  color: #474747 !important;
}

.blogCard-body p span{
margin: 0px 10px;
font-size: 12px;
color: #474747;
}

.cardBody-button{
  text-decoration: none;
  margin-left: 8px;
  padding: 0.3rem 0.8rem;
  background: #48753a;
  outline: 0.2rem solid #48753a;
  color: #283d23;
  font-weight: bold;
  outline-offset: 4px;
  margin-top: 30px;
  display: inline-block;
  transition: all 0.4s linear;
}

.cardBody-button:hover{
  text-decoration: none;
  padding: 0.3rem 0.8rem;
  background: #89c479;
  outline: 0.2rem solid #89c479;
  color: #fff;
  font-weight: bold;
  outline-offset: 4px;
  margin-top: 20px;
  display: inline-block;
}

.blogCard-body p span:first-of-type{
  margin-right: 6px;
  margin-left: 0px;
  font-size: 12px;
  color: #474747;
}

.blogCard-body .blogCard-body-para a{
  color: #0078d7 !important;
  font-size: 14px;
  font-weight: 500;
}

.blogCard-header{
  height:250px;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1614028674026-a65e31bfd27c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

#specific-image{
  background-image: url(https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YnVzaW5lc3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blogCard-header .card-date{
  margin-left: 20px;
  width:50px;
  height: 90px;
  padding-top: 10px;
}

.blogCard-header .card-date h5 {
  width: 100%;
  text-align: center
}

.blogCard-header .card-date h3{
  width: 100%;
  text-align: center;
}

.blogCard-header .card-date h5{
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: -3px;
  height: 55%;
  font-size: 23px;
  color:#fff;
  background-color: #1b2026;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.blogCard-header .card-date h4{
  font-weight: 400;
  background-color: #0f1620;
  height: 45%;
  font-size: 17px;
  padding: 5px;
  color:#fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 1000px) {
  .blog-section{
  background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    width: 95%;
    margin: 20px auto;
    margin-bottom: 0px;
  }

  .blog h2{
    padding-top: 20px;
    margin-top: 0px;
  }
}

/* --------------------- */
/* blog page */
/* --------------------- */

.blog-page{
  margin: 0 auto;
  width: 75%;
  margin-bottom: 50px;
}

.blogPage-cont{
  display: flex;
  width: 100%;
  padding-bottom: 0px;
  margin-top: 80px;
  height: 400px;
  box-shadow: 10px 10px 20px #888;
  transition: all 0.3s linear;
}

.blogPage-cont:hover{
  box-shadow: 10px 5px 20px #999;
  transform: scale(1.01);
}

.blogPage-left{
  flex-basis: 65%;
}

.blogPage-right{
  background-color: #fff;
  padding: 40px;
  padding-top: 20px;
  padding-right: 10px;
  flex-basis: 35%;
}

.blogPage-right h2 a{
  color: #000;
}

.blogPage-right p{
  font-size: 14px;
  font-family: 'popions' 'arial' 'san-serif';
  font-weight: 500;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.3);
}

.blogPage-right span{
  letter-spacing: 2px;
  word-spacing: 5px;
  font-weight: bolder;
  color: #81d387;
}

.blogPage-right ul{
  margin-top: 30px;
  display: flex;
}

.blogPage-right ul li{
  margin-right: 10px;
  display: inline-block;
  height: 50px !important;
  width: 50px !important;
}

.blogPage-right ul li a{
  height: 50px !important;
  width: 50px !important;
  color: #000;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
}

.blogPage-right ul li:hover a{
background-color: #81d386af;
}

.blogPage-right span .black{
  color: #000;
}

.blogPage-left img{
  width: 100%;
  height: 100%;
}

@media (max-width: 1180px) {
  .blog-page{
    margin: 0 auto;
    width: 85%;
  }
  .blogPage-cont{
    display: grid;
    width: 100%;
    margin: 0;
    margin-top: 40px;
    grid-template-columns: repeat(1, 1fr);
    height: 50%;
    padding: 0px;
    margin-bottom: 40px;
  }

  .blogPage-right{
     margin-bottom: 0px;
     overflow: hidden;
  }
}

/* ----------------- */
/* Simgle Blog */
/* ----------------- */

.singleBlog-1{
  margin: 0 auto;
  width: 50%;
  padding-top: 90px;
  margin-bottom: 80px;
}



.singleBlog-1 main{
  background-color: #fff;
  box-shadow: 20px 20px 50px #000;
}

.singleBlog-1 img{
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.singleBlog-body{
  padding: 20px;
  padding-left: 40px;


}

.singleBlog-body h1{
  margin: 23px 0px;
  font-size: 50px;
  font-family: 'Kalam', cursive;
  color: #456147;
}

.singleBlog-body p{
  margin-top: 20px;
  font-family: 'popions' 'arial' 'san-serif';
  letter-spacing: 2px;
  font-size: 17px;
  word-spacing: 6px;
  margin-bottom: 50px;
}

.singleBlog-body h3{
  margin-top: 50px;
  font-family: 'Kalam', cursive;
  font-size: 25px;
  color: #000;
  text-decoration: underline;
}   

.singleBlog-body h4{
  margin-top: 20px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  font-family: 'Pattaya', sans-serif;
  letter-spacing: 4px;
  
}

@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.singleBlog-body .quote{
  margin-top: 20px;
  color: #66ad68;
  font-size: 50px;

}

.singleBlog-body .writer{
  letter-spacing: 4px;
  font-size: 15px;
  color:#66ad68 ;
  font-weight: bold;

}

.singleBlog-body ul{
  padding-left: 20px;
  margin-top: 30px;
  list-style-type: disc;
}

.singleBlog-body ul li{
  font-size: 16px;
  color: #456147;
}

.singleBlog-1 .footer{
  text-align: right;
  padding-right: 35px;
  background-color: #caffcc;
  padding-top: 30px;
  border-top: 2px solid #000;
}

.singleBlog-1 .footer h3{
  font-family: 'Italianno', cursive;
  font-family: 'Pattaya', sans-serif;
  font-size: 23px;
  letter-spacing: 5px;
}

.singleBlog-1 .footer ul {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}

.singleBlog-1 .footer ul li{
  margin-left: 20px;
  font-size: 20px;
  background-color: #234d24;
  color:#fff;
  padding: 5px 10px;
  border-radius: 50%;
}

.singleBlog-1 .footer ul li a{
  color: #fff;
}

.singleBlog-1 .footer p{
  color: #000;
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-size: 10px;
}

.singleBlog-1 .footer p:first-of-type{
  color: #000;
  margin-bottom: 0px;
  padding-bottom:5px;
}

.singleBlog-body .sucess-stockImage{
  /* padding:40px 0px ; */
  /* padding-bottom: 10px; */
  margin-top: 30px;
  padding-right: 20px;
}

.singleBlog-body h2{
  margin-top: 40px;
  font-family: 'Kalam', cursive;
  font-size: 35px;
  color: #456147;
}


.singleBlog-body p span{
  font-family: 'Italianno', cursive;
  font-family: 'Pattaya', sans-serif;
   color: #263827;
   letter-spacing: 3px;
   word-spacing: 7px;
}

@media (max-width: 900px) {
  .singleBlog-1{
    width: 100%;
  }
  .singleblog-header img{
    border-radius:20px ;
    padding: 10px;
  }
}
